<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-image"> 
                <h2 class="lap"></h2>
                <p class="text"></p>

            </div>
            <div class="col-md-6 right"data-aos="fade-left"data-aos-delay="300" data-aos-duration="1000">
                <div class="input-box">
                    <h2>Forget Password</h2>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="Email1" placeholder="Enter Your Email">
                        <label for="floatingInput"> Email</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="Password2" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                      </div>
                      <div class="form-floating">
                        <input type="password" class="form-control" id="ConfrimPassword3" placeholder="Password">
                        <label for="floatingPassword">Confirm Password</label>
                      </div>
                      <div class=" submit d-grid gap-2 mb-2">
                        <button class="btn" type="submit" value="Sign In" onclick="ResetPassword()">Sign In</button>
                      </div>


                </div>


            </div>
        </div>
    </div>
</div>
