<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


    <div class="container-fluid " >
        <div class="row row-cols-2">
            <div class="col-6 col-md-6" *ngFor="let location of LocationDetails">
                <section class="home">
                    <div class="home-content image-zoom">
                        <div>
                            <h1>{{location.lName}}</h1>
                            <h3>Best RentalCars Available Here</h3>
                        </div>
                        <div class="image-zoom-wrapper">
                            <img src="" alt="" id="ImgLocation" src={{location.ImgLocation}}>
                        </div>
                    </div>
                </section>
            </div>



            <div class="col-6 col-md-6" [formGroup]="LocationData">
                <section id="sign">
                    <div class="col-lg-12" data-aos="fade-up-right" data-aos-delay="300" data-aos-duration="1000">
                        <form action="#" class="row g-3 p-lg-5 p-4  theme-shadow" id="form" >

                            <div class="input-group mb-4">

                                <input type="text" class="form-control px-3 text-uppercase fs-5 " aria-label="Sizing example input" id="locationName1"
                                    aria-describedby="inputGroup-sizing-default" formControlName="locationName1" readonly >
                            </div>
                            <div class="input-group mb-4">

                                <input type="text" class="form-control px-3 text-uppercase fs-5" aria-label="Sizing example input" id="locationName2"
                                    aria-describedby="inputGroup-sizing-default" formControlName="locationName2" readonly>
                            </div>
                            <div class="input-group mb-4">

                                <input type="text" class="form-control px-3 text-uppercase fs-5" aria-label="Sizing example input" id="locationName3"
                                    aria-describedby="inputGroup-sizing-default" formControlName="locationName3" readonly>
                            </div>
                            <div class="input-group mb-4">

                                <input type="text" class="form-control px-3 text-uppercase fs-5" aria-label="Sizing example input" id="locationName4"
                                    aria-describedby="inputGroup-sizing-default" formControlName="locationName4" readonly>
                            </div>
                            <div class="input-group mb-4">

                                <input type="text" class="form-control px-3 text-uppercase fs-5" aria-label="Sizing example input" id="locationName5"
                                    aria-describedby="inputGroup-sizing-default" formControlName="locationName5" readonly>
                            </div>
                            <div class="input-group mb-4">

                                <input type="text" class="form-control px-3 text-uppercase fs-4" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-4">

                                <input type="text" class="form-control px-3 text-uppercase fs-4" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>


                        </form>

                    </div>

                </section>
            </div>
        </div>

    </div>



<!-- <section id="reviews" class="reviews">
        <h2>our Locations in chennaii</h2>
        <ul id="review-list">
            <li>"Amazing service! I received my gas </li>
            <li>"The scheduled delivery feature is a lifesaver</li>
            <li>"Amazing service! I received my gas </li>
            <li>"The scheduled delivery feature is a lifesaver</li>
            <li>"Amazing service! I received my gas </li>
            <li>"The scheduled delivery feature is a lifesaver</li>
            <li>"Amazing service! I received my gas </li>
            <li>"The scheduled delivery feature is a lifesaver</li>
            <li>"Amazing service! I received my gas </li>
            <li>"The scheduled delivery feature is a lifesaver</li>
            <li>"Amazing service! I received my gas </li>
            <li>"The scheduled delivery feature is a lifesaver</li>
        </ul>
        <a href="review.html" class="order-btn1">Your Review</a>
    </section> -->