
<section class="section-padding bg-light" id="contact">
    <div class="container col-6" [formGroup]='LoginForm'>
      <div class="row">
        <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
          <div class="section-title">
            <h1 class="display-4 text-white fw-bold">Rent 2 Car</h1>
            <div class="line bg-white"></div>
            <p class=" text-white">We Provide good car for rental in lower cost</p>

          </div>
        </div>
      </div>
      <form action="#" class="row-12 g-3 p-lg-5 p-4 bg-white theme-shadow">
        <div class="row mt-4" *ngIf="errMsg">
            <ngb-alert [dismissible] = "true">
                <strong>Error! </strong>{{errMsg}}.
            </ngb-alert>
        </div>
        <div>
            <h1>Login</h1>
            <h6>
                <p class="para mt-5">Don't have an account?<a [routerLink]="['/register']">Signup</a></p>
            </h6>
        </div>
        <div class="form-floating  col-lg-12 d-grid mb-5 mt-4">
            <button class="btn btn-brand" (click)="gotoRegisterPage()"><i class="ri-google-fill" id="icon"></i>Sign with
                google</button>
                <!-- <a href="./SignIn.html" class="btn btn-brand"> <i class="ri-google-fill" id="icon"></i>Sign with
                    google</a> -->
        </div>
        <div>
            <h6 class="line2">Or Login New Account</h6>
        </div>


        <div class="form-floating  col-lg-12 mb-3 mt-4">
            <input type="text" class="form-control" id="UserName" name="UserName" placeholder="name@example.com" required formControlName="UserName">
            <label for="Username">Enter Name</label>
            <div *ngIf="LoginForm.get('UserName')?.hasError('required') && isSubmitted" class="text-danger">First enter the UserName</div>
        </div>
        <div class="form-floating  col-lg-12 mb-3">
            <input type="Password" class="form-control" id="Password" name="Password" placeholder="name@example.com" required formControlName="Password">
            <label for="Password">Enter Password</label>
            <div *ngIf="LoginForm.get('Password')?.hasError('required') && isSubmitted" class="text-danger">First enter the password</div>
        </div>
        <div>
            <a [routerLink]="['/forgetpswd']">Forget Password ?</a>
        </div>
        <div class="form-check mt-4">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                Keep me logged in
            </label>
        </div>

        <div class="form-floating  col-lg-12 d-grid mt-3">
            <button class="btn btn-brand" (click)="checkLogin()">login</button>
        </div>

       </form>
    </div>


  </section>