<div class="wrapper">
  <div class="container main">
    <div class="row">
      <div class="col-md-6 side-image">
        <h2 class="lap" data-aos="fade-down" data-aos-delay="500" data-aos-duration="1000">R2C</h2>
        <p class="text"></p>

      </div>
      
        <div class="col-md-6 right" data-aos="fade-left" data-aos-delay="300" data-aos-duration="1000">
          <div class="input-box " [formGroup]="profileData">
            <h2>Profile</h2>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="userName" placeholder="Enter Your Name" formControlName="userName" readonly>
              <label for="floatingInput">UserName</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="accName" placeholder="Enter Your Name" formControlName="name">
              <label for="floatingInput">Name</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="email" placeholder="Enter Your Email" formControlName="email">
              <label for="floatingInput"> Email</label>
            </div>
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="mobile" placeholder="Mobile" formControlName="mobile">
              <label for="floatingNumber">Mobile</label>
            </div>
            <div class="form-floating">
              <textarea id="address" name="address" class="form-control" placeholder="address" formControlName="address"></textarea>
              <label for="floatingaddress">Address</label>
            </div>
            <div class="button">
              <button type="button" class="btn btn-primary" (click)="updateProfile()">Update</button>
              <button type="reset" class="btn btn-secondary">Cancel</button>
            </div>
            <div class="col off"><a href="#"> Click here to Deactivate Account</a></div>


          </div>


        </div>
      
    </div>
  </div>
</div>