<!-- BLOG -->
<section id="blog" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                <div class="section-title">
                    <h1 class="fs-2 mb-5 fw-semibold">OFFERS</h1>
                    <div class="line"></div>
                    <p>The rent to car Service best Offers Available here</p>
                </div>
            </div>
        </div>
        <div class="row ms-5">
            <div class="col-md-4" data-aos="fade-down" data-aos-delay="150">
                <div class="team-member image-zoom">
                    <div class="image-zoom-wrapper">
                        <img src="../../assets/images/car-forget.jpg" alt="">
                    </div>
                    <h5 class="mt-4">Valid upto 2025</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit sequi quos magni!</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-down" data-aos-delay="250">
                <div class="team-member image-zoom">
                    <div class="image-zoom-wrapper">
                        <img src="../../assets/images/regi3-car.jpg" alt="">
                    </div>
                    <h5 class="mt-4">Valid upto 2025</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit sequi quos magni!</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-down" data-aos-delay="350">
                <div class="team-member image-zoom">
                    <div class="image-zoom-wrapper">
                        <img src="../../assets/images/profile-car.jpg" alt="">
                    </div>
                    <h5 class="mt-4">Valid upto 2025</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit sequi quos magni!</p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>